body {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  field-sizing: content;
}

/* Responsive navigation */
.sidebar-desktop {
  display: none !important;
}

.nav-mobile {
  display: flex !important;
}

@media (min-width: 640px) {
  .sidebar-desktop {
    display: flex !important;
  }

  .nav-mobile {
    display: none !important;
  }
}
